#passeio{
    position: absolute;
    left: -5%;
    top: 61%;
    width: 30%;
    height: 20%;
}

#dog{
    position: absolute;
    top: 40%;
    left: 5%;
    background: url('img/sprite.webp') no-repeat -5px -3px;
}
