#passeio{
    position: absolute;
    left: 40%;
    top: 40%;
    width: 30%;
    height: 20%;
    border: 1px solid black;
}

#dog{
    position: absolute;
    top: 40%;
    left: 5%;
    background: url('img/sprite.webp') no-repeat -5px -3px;
	width: 53px;
	height: 40px;
}