#purpleHorizontalDuck {
    background: url("../img/sprite.webp") no-repeat;
    background-position: -213px -157px;
    width: 104px;
    height: 94px;
}

#duck {
    background: url('../img/sprite.webp') no-repeat;
    background-position: -134px -157px;
	width: 25px;
	height: 31px;
}